<!DOCTYPE html>
<title>Home</title>
<head>
  <style type="text/css">
    #bg{
        background-size: 1800px 900px;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
    }
    .d {
  opacity: 0.7;
}
</style>
</head>
{% load static %}
<body id="bg" style="background-image: url('{% static "accounts/rush.jpg" %}');">
  <br><br><br><br>
  <div align="center" class="d"><font style="font-family:comic sans MS;font-size:80px;color:red"><b>OUR SERVICES!!</b></font></div>
  <table align=center width="50%">
    <tr><td><div class="d"><font style="font-family:comic sans MS;font-size:40px;color:white"><b>At find your restaurant we provide a wide range of services to our users. We aim to make the life's simpler by helping the users find the restaurant according to their needs.
       Apart from this we would also help them to book a table if required.</b></font></div></td></tr>
  </table>
</body>
</html>
